<h1>Add a NEW Recipe!</h1>
<p></p>
<form action="/recipes" method="POST">
    <p><label>Recipe Name: <input name="name" type="text"></label></p>
    <p><label>Ingredients: <input name="ingredients" type="text"></label></p>
    <p><label>Cook Time: <input name="cook_time" type="text"></label></p>
    <p><input type="submit" value="Submit"></p>
</form>
<p></p>
<p><a href="/">Return Home</a></p>
