<form method="post" action="/recipes">
  <input type="text" name="name" value="Name:"/>
  <input type="text" name="ingredients" value="Ingredients:"/>
  <input type="text" name="cook_time" value="Cook Time:"/>
  <input type="submit" id="submit"/>
</form>