<form action="/recipes" method="POST">
    <label for="name">Name:  </label>
<input type="text" name="name" id="">
<label for="ingredients">Ingredients:  </label>
<input type="text" name="ingredients" id="">
<label for="cook_time">Cook Time:  </label>
<input type="text" name="cook_time" id="">
<input type="submit" id="submit" value="Submit">
</form>